<div class="container mt-4">
  <div class="card" style="background-color: #afd8ff;">
    <div class="card-header">
      <i class="bi bi-journals"></i> <%= pluralize(@users.count, "USER", plural: "USERS") %>
      <% if !logged_in? %>
        <%= link_to "Sign Up", new_user_path, class: "btn signup-btn btn-sm float-end" %>
      <% end %>
    </div>
    <div class="card-body">
      <div class="row">
        <% @users.each do |user| %>
          <div class="col-md-4">
            <%= link_to documents_user_path(user), class: "card user-card text-decoration-none" do %>
              <div class="card-body">
                <div class="user-card-header"><%= user.username %></div>
                <div class="user-card-email"><%= user.email %></div>
              </div>
            <% end %> 
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
