<p style="color: green"><%= notice %></p>

<%= render @session_controller %>

<div>
  <%= link_to "Edit this session controller", edit_session_controller_path(@session_controller) %> |
  <%= link_to "Back to session controllers", session_controllers_path %>

  <%= button_to "Destroy this session controller", @session_controller, method: :delete %>
</div>
